body {
    background-color: rgb(110, 241, 202);
}

h1 {
    margin-top : 5px;
    display: inline-block;
    padding: 6px;
    font-size: 45px;
}

h3 {
    margin-bottom : -3px;
    font-size : 25px;
}

p {
    margin-block: 5px;
    font:caption;
}

.row {
    display: flex;
}

.cell {
    background-color: rgba(79, 236, 236, 0.719);
    border:1px solid black;  
    width: 80px; 
    height: 80px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
    text-align: center; 
    cursor: grab;
    color: chocolate;
    font-size: 40px;
    font-family: fantasy;
}

.board { 
    display: flex; 
    flex-direction: column;
    align-items: center; 
} 

.cell:active {
    outline: aqua solid 0.5px;
    border:1px solid white;
    cursor:grabbing
}

#print {
    font-size: 40px;
    font-weight: 120;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#but {
    border-radius: 20px;
    background:#ebbf48;
    color: rgb(236, 17, 17);
    font-size: 20px;
}

.strike {
    position: absolute;
    background-color: red;
    height: 5px;
    z-index: 1;
    transform-origin: left center;
  }
